<?php

$github_account['user'] = "dmd20@gmx.de";          // Only needed if rate limiter hits,should be no problem with f.e. 1 update / h
$github_account['pass'] = "x1loVTZL8BUjytAAMQjH";   // therefore not needed
